.home{
    min-height: 100vh;
    background: url(../../assets/home/background-home-mobile.jpg);
    background-position: top left !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 3rem;
    padding: 1rem 0;
    margin-top: 5rem;
}

.home-content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content-right > .circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--clr-primary-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 200ms;
}

.circle:hover {
    box-shadow: 0 0 0 50px rgba(255,255,255,0.1);
}

@media only screen and (min-width : 500px) {
    .home{
        background: url(../../assets/home/background-home-tablet.jpg);
        background-position: center;
    }
    .home-content-wrapper{
        width: 80%;
        gap: 3rem;
    }   

    .home-content-right{
        padding-top: 5rem;
    }
}

@media only screen and (min-width: 1080px) {
    .home{
        background: url(../../assets/home/background-home-desktop.jpg);
        align-items: center;
    }
    .home-content-wrapper{
        flex-direction: row;
        gap: 0;
    }
    .home-content-left{
        width: 40%;
    }
    .home-content-right{
        width: 60%;
    }

    .home-content-right>.circle{
        width: 200px;
        height: 200px;
        margin-left: auto;
    }
}